<div class="container">
    <div class="header">
        <h2>회원가입</h2>
    </div>
    <div class="form">
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
            <input class="input-field" type="text" placeholder="Full Name" ngModel name="fullname" required #fullname="ngModel" />
            <input class="input-field" type="text" placeholder="Email" ngModel name="email" required #email="ngModel" (blur)="emailDuplicateCheck(signUpForm)" />
            <mat-error *ngIf="emailCheck">Email duplicated.</mat-error>
            <input class="input-field" type="password" placeholder="Password" ngModel name="password" required #password="ngModel" />
            <input class="input-field" type="password" placeholder="Confirm Password" ngModel name="confirm_password" required #confirm_password="ngModel" />
            <mat-error *ngIf="password.value != ''&& confirm_password.value != '' && password.value != confirm_password.value ">Password does not match.</mat-error>
            <button class="button" [disabled]="signUpForm.invalid || emailCheck">Create Account</button>

        </form>
    </div>
</div>
